<div class="list">
        
    <h3>New Entry</h3>
    <input ng-model="newTask.name" type="text" class="editing-label" />
    <button ng-click="addNewTask(newTask)" class="save">save</button>

        <h3>TodoList: repeated html and functions per task</h3>
        <ul ng-repeat="task in todolist | orderBy: 'completed'">
            <li 
                class="task"
                ng-class="{'edited': task.edited}"
            >
                <input
                       ng-model="task.completed"
                       type="checkbox"
                       ng-change="task.edited = true"
                />
                <label 
                       ng-click="task.editing = true" 
                       ng-hide="task.editing" 
                       class="editing-label"
                       ng-class="{'completed': task.completed}"
                >
                    {{task.name}}
                </label>
                <input
                        ng-model="task.name"
                        ng-show="task.editing"
                        ng-change="task.edited = true"
                        ng-blur="task.editing = false"
                        type="text" class="editing-label"
                />
                <button ng-click="task.editing = !task.editing" class="edit">edit <span ng-show="task.editing">finish</span></button>
                <button 
                    ng-show="task.editing"
                    ng-click="deleteTask(task, $index)"
                    class="delete"
                >
                    delete
                </button>
            </li>
        </ul>
</div>